# dependencies
node_modules/
client/node_modules/
server/node_modules/

# builds
client/dist/
server/dist/

# environment
.env
server/.env
client/.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
.vscode/
